<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DishMapper">
    <resultMap id="dishResultMap" type="com.example.model.Dish">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="imageUrl" column="image_url"/>
        <result property="category" column="category"/>
    </resultMap>

    <select id="getAllDishes" resultMap="dishResultMap">
        SELECT * FROM dish
    </select>

    <select id="getDishesByCategory" resultMap="dishResultMap">
        SELECT * FROM dish WHERE category = #{category}
    </select>

    <select id="getDishById" resultMap="dishResultMap">
        SELECT * FROM dish WHERE id = #{id}
    </select>

    <insert id="addDish" parameterType="com.example.model.Dish" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish (name, price, description, image_url, category)
        VALUES (#{name}, #{price}, #{description}, #{imageUrl}, #{category})
    </insert>

    <update id="updateDish" parameterType="com.example.model.Dish">
        UPDATE dish SET
                        name = #{name},
                        price = #{price},
                        description = #{description},
                        image_url = #{imageUrl},
                        category = #{category}
        WHERE id = #{id}
    </update>

    <delete id="deleteDish">
        DELETE FROM dish WHERE id = #{id}
    </delete>
</mapper>